---

---

@import "skins/{{ site.theme_skin | default: 'blue' }}";

.job-title,
  .degree {
    color: $text-color;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
  }